<!DOCTYPE html>
<html lang=en>
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>Shop UI</title>
    </head>

    <body>
        <h1>Discount Applied...</h1>
        <br/>

        <table border=1>
            <tr>
                <th>Book ID</th> <th>Title</th> <th>Price</th> <th>Category ID</th> <th>Publisher ID</th>
            </tr>
            <tr>
                {% for row in rows %}
                <tr>
                    {% for item in row %}
                    <td>
                        {{item}}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tr>

        </table>
    </body>
</html>
