<!DOCTYPE html>
<html lang=en>
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>Shop UI</title>
    </head>

    <body>
        <div id="main">
            <h1>Category Report</h1>

            <br/>

            <table border=1>
                <tr>
                    <th>Category Name</th> <th>Title Count</th> <th>Average Price</th>
                </tr>
                {% for row in rows %}
                <tr>
                    {% for item in row %}
                    <td>
                        {{item}}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>

            <br/>

            <form action="/">
                <input type="submit" value="Return"/>
            </form>
        </div>
    </body>
</html>
