<!DOCTYPE html>
<html lang=en>
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>Shop UI</title>
    </head>

    <body>
        <form action = "create_db" method = "post">
            <input type="submit" value="Create DB"/>
        </form>
        <form action = "init_db" method = "post">
            <input type="submit" value="Initialize DB"/>
        </form>
        <form action = "reset_db" method = "post">
            <input type="submit" value="Reset DB"/>
        </form>
        <div id="main">
            <div class="query_form" id="q1">
                <form action = "create_category" method = "post">
                    <h3>1. Create Category</h3><p></p>
                    <label>CategoryID</label> <input type="text" name="categoryID"/><br/>
                    <p></p>
                    <label>Category Name</label> <input type="text" name="categoryName"/><br/>
                    <p></p>
                    <label>Category Type</label> <input type="text" name="categoryType"/><br/>
                    <p></p>
                    <input type="submit" value="Submit"/>
                    <p></p>
                </form>
            </div>

            <div class="query_form" id="q2">
                <form action="delete_category" method="post">
                    <h3>2. Delete Category</h3><p></p>
                    <label>CategoryID</label> <input type="text" name="categoryID"/><br/>
                    <p></p>
                    <input type="submit" value="Submit"/>
                    <p></p>
                </form>
            </div>

            <div class="query_form" id="q3">
                <form action="category_report" method="post">
                    <h3>3. Category Report</h3> <p></p>
                    <input type="submit" value="Submit"/><br/>
                    <p></p>
                </form>
                <form action="delete_report" method="post">
                    <h3>!!DELETE CATEGORY REPORT!!</h3> <p></p>
                    <input type="submit" value="DELETE"/><p></p>
                </form>
            </div>

            <div class="query_form" id="q4">
                <form action="publisher_report" method="post">
                    <h3>4. Publisher Report</h3><p></p>
                    <label>Publisher Name</label> <input type="text" name="publisherName"><br/>
                    <p></p>
                    <input type="submit" value="Submit"/><br/>
                </form>
            </div>


            <div class="query_form" id="q5">
                <form action="order_history" method="post">
                    <h3>5. Order History by ID</h3><p></p>
                    <label>Book ID</label> <input type="text" name="bookID"/><br/>
                    <p></p>
                    <input type="submit" value="Submit"/><br/>
                </form>
                <form action="delete_order_report" method="post">
                    <h3>!!DELETE ORDER REPORT!!</h3> <p></p>
                    <input type="submit" value="DELETE"/><p></p>
                </form>
            </div>


            <div class="query_form" id="q6">
                <form action="performance_report" method="post">
                    <h3>6. Performance Report</h3><p></p>
                    <label>Start Date</label>  <input type="date" name="startDate"><br/>
                    <p></p>
                    <label>End Date</label> <input type="date" name="endDate"><br/>
                    <p></p>
                <input type="submit" value="Submit"/><br/>
                </form>
            </div>


            <div class="query_form" id="q7">
                <form action="apply_discount" method="post">
                    <h3>7. Apply Discount</h3><p></p>
                    <label>Category ID</label> <input type="text" name="categoryID"/>
                    <p></p>
                    <label>Discount Multiplier</label> <input type="text" name="discountPercent">
                    <p></p>
                    <input type="submit" value="Submit"/><br/>
                </form>
            </div>


        </div>
        <div id="error">
            {{msg}}

            {{error}}
        </div>
    </body>
</html>
