<!DOCTYPE html>
<html lang=en>
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>Shop UI</title>
    </head>

    <body>
        <h1>Order History</h1>
        <br/>

        <table border=1>
            <tr>
                <th>Title</th> <th>Retail Price</th> <th>Order Date</th> <th>Unit Selling Price</th>
                <th>Quantity</th> <th>Order Value</th> <th>Shop Name</th>
            </tr>
            {% for row in rows %}
            <tr>
                {% for item in row %}
                <td>
                    {{item}}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <form action="/">
            <input type="submit" value="Return"/>
        </form>
    </body>
</html>
