<!DOCTYPE html>
<html lang=en>
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>Shop UI</title>
    </head>

    <body>
        <div id="main">
            <div>
            <h1>Publisher report for {{publisherName}}</h1>
            </div>

            <div>
            <table border=1>
                <tr>
                    <th>BookID</th> <th>Title</th> <th>Price</th> <th>Publisher Name</th>
                    <th>Order Quantity</th> <th>Unit Selling Price</th> <th>Order Value</th>
                    <th>Retail Value</th> <th>Order Date</th>
                </tr>
                {% for row in rows %}
                <tr>
                    {% for item in row %}
                    <td>
                        {{item}}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            </div>

            <div>
            <form action="/">
                <input type="submit" value="Return"/>
            </form>
            </div>
        </div>
    </body>

</html>
