#main{
    display: flex;
    flex-wrap: wrap;
    margin: 2.5%;
}

.query_form{
    margin: 0.5%;
    width: 32%;
    border-width: 2px;
    border-style: solid;
    overflow: hidden;
}

form{
    display: table;
}

label{
    display: table-cell;
    margin-right: 10px;
}

input{
    display: table-cell;
}

p{
    display: table-row;
}
